Flask
Flask-Session
openai
psycopg2-binary
flask-cors
google-api-python-client
google-auth
google-auth-oauthlib
python-dotenv
setuptools
wheel
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
openai 
numpy
pandas
pipenv
postgres
psycopg2-binary
psycopg2-pool
SQLAlchemy
sqlparse
flask
flask_cors
datetime 
pandas 
flask_session 
python-dotenv
Authlib
Flask-Dance
Flask-Dance[sqla]