Flask
Flask-Session
flask_session 
flask
flask_cors
openai
psycopg2-binary
flask-cors
google-api-python-client
google-auth
google-auth-oauthlib
python-dotenv
setuptools
wheel
click
colorama
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
pandas
numpy
pipenv
postgres
psycopg2-binary
psycopg2-pool
SQLAlchemy
sqlparse
datetime  
python-dotenv
Authlib
Flask-Dance
Flask-Dance[sqla]
huggingface_hub
datasets 
transformers
uuid
pinecone-client
pypdf
faiss-cpu
langchain
langchain-openai
langchain-community
torch
sentence-transformers
scikit-learn
nltk
llama-index
pymupdf
llama-index
pymupdf
einops
wandb 
