{% extends 'base.html' %}

{% block content %}
<h1>Machine Learning Tutorials</h1>
<div class="row">
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_1" class="btn btn-outline-primary w-100">Introduction to ML</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_2" class="btn btn-outline-primary w-100">Supervised Learning</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_3" class="btn btn-outline-primary w-100">Unsupervised Learning</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_4" class="btn btn-outline-primary w-100">Neural Networks</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_5" class="btn btn-outline-primary w-100">Deep Learning</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_6" class="btn btn-outline-primary w-100">ML Model Deployment</a>
  </div>
</div>
{% endblock %}