{% extends 'base.html' %}

{% block content %}
<h1>Python Basics Tutorials</h1>
<div class="row">
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_1" class="btn btn-outline-primary w-100">Introduction to Python</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_2" class="btn btn-outline-primary w-100">Data Types and Variables</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_3" class="btn btn-outline-primary w-100">Control Structures</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_4" class="btn btn-outline-primary w-100">Functions</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_5" class="btn btn-outline-primary w-100">Libraries and Modules</a>
  </div>
  <div class="col-md-4 mb-3">
    <a href="https://colab.research.google.com/notebook_link_6" class="btn btn-outline-primary w-100">File Handling</a>
  </div>
</div>
{% endblock %}