{% extends 'base.html' %}
{% block content %}

<input type="hidden" id="user_id" name="user_id">

<h1>Welcome {user_id} to the Dashboard</h1>
<p> Please select one of the Red Teaming challenges below. </p>
<p> At any time, you may click on a different challenge to start or return to working on it. </p>

<div class="row">
  <div class="col-md-3 mb-3">
    <a href="/text_gen" class="btn btn-outline-primary w-100">Bias Detection</a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="/text_gen_02" class="btn btn-outline-primary w-100">Handling Sensitive Topics</a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="/text_gen_03" class="btn btn-outline-primary w-100">Factuality / Harmful Content</a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="/text_gen_04" class="btn btn-outline-primary w-100">Malicious Code</a>
  </div>
</div>
{% endblock %}